[submodule "scripts"]
	path = scripts
	url = git@github.com:MetroV-Engine/scripts.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/bgfx.cmake"]
	path = External/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
